<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Camera Preset Automator</title>
  </head>
  <body>
    <div id="app" class="p-5" :class="$eel.darkMode ? 'bg-dark text-white' : ''" style="height:100vh;overflow-y:scroll">
      <div v-if="$eel.loading_presets">Loading Presets. Please be patient... <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></div>
      <div v-else-if="$eel.app">
        <h3>Cameras</h3>
        <div class="d-flex mb-3 justify-content-between" >
          <camera-icon :camera="$eel.app.camera1"></camera-icon>
          <camera-icon :camera="$eel.app.camera2"></camera-icon>
          <camera-icon :camera="$eel.app.camera3"></camera-icon>
          <camera-icon :camera="$eel.app.camera4"></camera-icon>
          <camera-icon :camera="$eel.app.camera5"></camera-icon>
        </div>

        <div>
          <h3>Camera Presets</h3>
          <div class="d-flex">
            <div class="flex-fill">
              <p v-if="$eel.arm_preset_storage">Click a preset below to <strong>store</strong> the current camera positions to that preset.</p>
              <p v-else-if="$eel.arm_capture">Click a preset below to <strong>capture</strong> the current camera positions in that preset for exporting (creating a save file).</p>
              <p v-else>Click a preset below to <strong>recall</strong> all cameras to the saved camera preset</p>
              <group-presets></group-presets>
              <div class="btn-group">
                <button class="btn" :class="$eel.arm_preset_storage || $eel.arm_capture ? 'btn-outline-primary' : 'btn-primary'" @click="$eel.arm(null)">Recall</button>
                <button class="btn" :class="! $eel.arm_preset_storage ? 'btn-outline-danger' : 'btn-danger'" @click="$eel.arm('store')">Store</button>
                <button class="btn" :class="! $eel.arm_capture ? 'btn-outline-success' : 'btn-success'" @click="$eel.arm('capture')">Capture</button>
              </div>
            </div>
            <capture-data v-if="$eel.arm_capture" :height="400" class="flex-fill"></capture-data>
            <import-presets class="flex-fill" v-else></import-presets>
          </div>
          <hr>
        </div>

        <div>
          <p class="lead">Midi</p>

        </div>

        <hr class="mb-5">
        <button @click="$eel.show_application_data = ! $eel.show_application_data" class="btn btn-secondary">
          Turn Debug Data <span v-html="$eel.show_application_data ? 'OFF' : 'ON'"></span>
        </button>
        <button class="btn btn-secondary" @click="$eel.darkMode = ! $eel.darkMode">Toggle Dark Mode</button>

        <div v-if="$eel.show_application_data">
          <div class="list-group" >
            <div class="list-group-item" v-for="val,prop in $eel.app" :key="prop">
              <span v-html="prop"></span>: <span v-html="val"></span>
            </div>
          </div>
        </div>

      </div>
      <div v-else>Loading App...</div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="text/javascript" src="../eel.js"></script>
    <script src="./components.js"></script>
    <script src="./script.js"></script>
    <!-- https://github.com/eligrey/FileSaver.js/ -->
    <script src="./filesaver.min.js"></script>
    <script>
      new Vue({     el: document.getElementById('app') })
    </script>
  </body>
</html>